@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "#1b1816";
  default: true;
  --color-primary: 
#1778ad;
  --color-secondary: #03373d;
}


body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}