@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f0e0af;
  --color-secondary: #03373d;
}


body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}